@import 'breakpoint-sass';
@import 'vars.scss';

nav#navi {
	position: absolute;
	bottom: 4vmin;
	left: 4vmin;
	transform: translateX(0px);

	&.show {
		opacity: 1;
		transition: opacity 250ms 0ms;
	}

	&.hide {
		opacity: 0;
		pointer-events: none;
	}

	span {
		display: block;

		a {
			display: inline-block;

			&.link {
				text-decoration: none;
			}

			&.active {
				text-decoration: underline;
			}
		}
	}

	@include breakpoint($breakMobile) {
		display: flex;
		position: fixed;
		top: 0px;
		left: 6vmin;
		bottom: 0px;
		right: 0px;
		padding: 6vmax 0 0 0;
  	font-size: 5.6vmax;
  	line-height: 7.2vmax;
  	flex-direction: column;
  	justify-content: center;

  	&.hide {
			opacity: 0;
			transition: opacity 0ms 0ms;
			pointer-events: none;
  	}

  	&.show {

  		span {
  			transform: translateX(0px);
  			opacity: 1;

	  		&:nth-child(2n) {
		  		transform: translateX(0px);
		  		opacity: 1;
	  		}

	  		&:nth-child(1) {
	  			transition: all 250ms calc(250ms / (7 - 1));
	  		}

	  		&:nth-child(2) {
	  			transition: all 250ms calc(250ms / (7 - 2));
	  		}

	  		&:nth-child(3) {
	  			transition: all 250ms calc(250ms / (7 - 3));
	  		}

	  		&:nth-child(4) {
	  			transition: all 250ms calc(250ms / (7 - 4));
	  		}

	  		&:nth-child(5) {
	  			transition: all 250ms calc(250ms / (7 - 5));
	  		}

	  		&:nth-child(6) {
	  			transition: all 250ms calc(250ms / (7 - 6));
	  		}
  		}
  	}

  	span {
  		transform: translateX(10vw);
  		opacity: 0;
  	}
	}
}