#three {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  pointer-events: none;
  z-index: 10;

  &.show {
    opacity: 1;
    transition: 250ms 125ms;
  }

  &.hide {
    opacity: 0;
  }
}
